.avatar img {
    width: 100px;
    height: 50px;
}

.item-name {
    margin-left: 5px;
    margin-top: 8px;
}

.item-surname {
    margin-left: 5px;
    margin-top: 8px;
}

.item-date {
    margin-left: 5px;
    margin-top: 8px;
}

.list-group-buttons {
    margin-left: auto;
    display: flex;
}

.list-group-buttons button {
    margin-left: 10px;
}

.list-group-item {
    display: flex;
    font-size: 20px;
}
