.form {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.form-input {
    width: 700px;
}

.image-upload > input {
    display: none;
}

.form-inputs {
    display: block;
    margin-left: 30px;
}

.form-buttons {
    float: right;
}
.form-avatar{
  width: 200px;
  height: 200px;
}
